/* Variables */
:root {
    --basic-black: #000000;
    --basic-white: #FFFFFF;
    --basic-grey: #333333;
    --basic-blue: #81B3D2;
    --basic-brown: #766357;
    --basic-bg-grey: #F2F2F2;
    --basic-block-bg-grey: #EEEEEE;
    --basic-border-grey: #E5E5E5;

    --special-extra-dark-grey: #666666;
    --special-dark-grey: #6A6A6A;
    --special-grey: #A9A9A9;
    --special-medium-grey: #EBEBEB;
    --special-light-grey: #BDBBBC;
    --special-blue-hover: #669EC0;
    --special-blue-active: #5496BD;
    --special-brown-hover: #604E43;
    --special-brown-active: #503E33;
    --special-bg-white: rgba(255, 255, 255, 0.9);
    --special-white: rgba(255, 255, 255, 0.3);
    --special-black: rgba(0, 0, 0, 0.3);
    --special-shadow: rgba(0, 1, 1, 0.15);
    --special-body-shadow: rgba(0, 1, 1, 0.2);
}

/* Global */
body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-bg-grey);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* Grid */

.page {
    min-width: 1280px;
    height: 100%;
}

.page-body {
    min-height: 100%;
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
    box-shadow: 0px 5px 15px var(--special-body-shadow);
}

/* Visually hidden */

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

/* Main header */
.main-header {
    position: relative;
    display: grid;
    background-color: var(--basic-white);
}

.logo {
    position: absolute;
    justify-self: center;
}

.main-nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 140px;
    padding: 15px 70px;

}

.left-menu {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.left-menu-item {
    flex-grow: 1;
}

.right-menu {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.right-menu-item {
    flex-grow: 1;
    text-align: right;
}

.main-nav li {
    list-style: none;
}

.main-nav-link {
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    color: var(--basic-black);
}

.main-nav-link:hover {
    color: var(--basic-blue);
}

.main-nav-link:active {
    color: var(--basic-black);
    opacity: 0.3;
}

.current,
.current:hover,
.current:active {
    color: var(--basic-brown);
    opacity: 1;
}

/* Index main */

.index-main {
    display: grid;
    grid-template-rows: min-content min-content min-content;
}

/* Greeting */

.greeting {
    min-height: 510px;
    background-color: var(--basic-white);
}

.greeting-title{
    margin-bottom: 40px;
    min-height: 510px;
    background-image: 
        url("../img/welcome.svg"),
        url("../img/mask.svg"),
        url("../img/background-photo.jpg");
    background-repeat:
        no-repeat, 
        no-repeat,
        no-repeat;
    background-position:
        center center,
        bottom center,
        bottom center;
}

.greeting-intro {
    margin-top: 0;
    margin-bottom: 45px;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
}

.advantages-intro {
    margin-bottom: 52px;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: var(--basic-grey);
}

/* Advantages */

.advantages-list{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 3, 400px;
    grid-template-rows: 3, min-content;
    list-style: none;
}

.advantages-list-item {
    text-align: center;
    background-color: var(--basic-block-bg-grey);
}

.advantages-list-item:first-child {
    grid-column: 1/4;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 3, 400px;
    grid-template-rows: 2, min-content;
}

.advantages-list-item:nth-child(2) {
    grid-column: 1/4;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 3, 400px;
}

.advantages-list-item:nth-child(3) {
    grid-column: 1/2;
    box-sizing: border-box;
    width: 400px;
}

.advantages-list-item:nth-child(4) {
    grid-column: 2/3;
    box-sizing: border-box;
    width: 400px;
}

.advantages-list-item:nth-child(5) {
    grid-column: 3/4;
    box-sizing: border-box;
    width: 400px;
}

.advantages-list-item h3{
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
}

.advantages-list-item p{
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-grey);
}

.advantage-title {
    margin-top: 48px;
    margin-bottom: 13px;
}

.small-advantage-title {
    margin-top: 47px;
    margin-bottom: 26px;
}

.big-advantage {
    display: grid;
    background-color: var(--basic-blue);
}

.small-advantage {
    padding: 0 60px;
    min-height: 256px;
}

.big-advantage:first-child {
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 2;
}

.first-item-description-wrap {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    padding-left: 45px;
    padding-right: 45px;
}

.advantage-number {
    margin-bottom: 10px;
}

.small-advantage-number {
    margin-bottom: 24px;
}

.first-advantage-img{
    grid-column: 2/4;
    grid-row: 1/2;
}

.big-advantage h3,
.big-advantage p {
    color: var(--basic-white);
}

.features-list-wrap {
    grid-column: 1/4;
    grid-row: 2/3;
    background-color: var(--basic-white);
}

.features-list {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    list-style: none;
}

.feature-title {
    position: relative;
    margin: 0;
    padding-top: 100px;
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
}

.first-feature-title::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 105px;
    width: 75px;
    height: 72px;
    background-image: url("../img/icon-house.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.second-feature-title::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 105px;
    width: 75px;
    height: 70px;
    background-image: url("../img/icon-burger.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.third-feature-title::before {
    content: "";
    position: absolute;
    top: -5px;
    left: 115px;
    width: 64px;
    height: 77px;
    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.features-list-item {
    padding: 60px 55px;
    margin-bottom: 22px;
}

.features-list-item p {
    margin: 0;
    margin-top: 25px;
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-grey);
}

.second-item-description-wrap {
    grid-column: 3/4;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    padding-left: 45px;
    padding-right: 45px;
    width: 400px;
    box-sizing: border-box;
}

.second-advantage-img {
    grid-column: 1/3;
    grid-row: 1/2;
    width: 800px;
}

/* Hotel search */

.hotel-search {
    padding-top: 55px;
    text-align: center;
    background-color: var(--basic-white);
}

.hotel-search-title {
    display: block;
    font-weight: bold;
    font-size: 30px;
    line-height: 24px;
}

.hotel-search-intro {
    margin-top: 37px;
    margin-bottom: 47px;
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-grey);
}

.button { 
    font-weight: bold;
    text-transform: uppercase;
    color: var(--basic-white);
    border: none;
    cursor: pointer;
}

.hotel-search-button {
    padding: 30px 140px;
    font-size: 21px;
    line-height: 26px;
    background-color: var(--basic-brown);
}

.hotel-search-button:hover {
    background-color: var(--special-brown-hover);
}

.hotel-search-button:active {
    color: var(--special-white);
    background-color: var(--special-brown-active);
}

.map {
    width: 1200px;
    height: 600px;
    background-image: url("../img/map.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
}

/* Footer */

.main-footer {
    margin-top: -125px;
    align-content: center;
    background-color: var(--special-bg-white);
    opacity: 0.9;
}

.footer-layout-wrap{
    width: 1054px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 327px 400px 327px;
}

.contacts {
    min-height: 120px;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
}

.contacts-hashtag {
    display: block;
    margin-top: 22px;
    margin-bottom: 10px;
}

.contacts-phone {
    display: block;
}

.social {
    display: flex;
    align-self: center;
}

.social-list{
    display: flex;
    justify-content: space-between;
    width: 150px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.social-list-item {
    margin-right: 5px;
}

.social-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 48px;
    background-color: var(--basic-blue);
    color: var(--basic-white);
}

.social-link:hover {
    background-color: var(--special-blue-hover);
}

.social-link:active {
    background-color: var(--special-blue-active);
    color: var(--special-white);
}

.social-link:active svg {
    opacity: 0.3;
}

.copyright-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
}

.copyright-link {
    margin-left: 8px;
    color: var(--basic-black);
}

.copyright-link:hover path {
    fill: var(--basic-blue);
}

.copyright-link:active path {
    fill: var(--special-light-grey);
}

/* Hotels page */

.hotels-main {
    display: grid;
    grid-template-rows: min-content 1fr;
}

/* Hotel search results */

.hotels-features {
    grid-row: 1/2;
    min-height: 217px;
    background-color: var(--basic-white);
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.hotels-result {
    grid-row: 2/3;
    background-color: var(--basic-white);
}

.hotels-sorting{
    display: grid;
    grid-template-columns: 160px 1fr;
    padding: 0 70px;
    margin-bottom: 10px;
}

.results-quantity {
    grid-column: 1/2;
    margin-top: 30px;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
}

.sorting-parameters-wrap {
    grid-column: 2/3;
    padding: 5px;
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    align-items: center;
}

.sorting-parameters {
    display: block;
    font-size: 12px;
    line-height: 18px;
}

.sort-by-parameter {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 15px;
}

.sort-parameter {
    padding: 0;
    margin-right: 33px;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--special-black);
    background-color: var(--basic-white);
    border: none;
    border-bottom: 1px dashed var(--basic-blue);
}

.sort-parameter:hover {
    color: var(--basic-blue);
}

.sort-parameter:active {
    color: var(--basic-black);
    border: none;
}

.current-sort-parameter {
    color: var(--basic-blue);
    border: none;
}

.sorting-results {
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 125px;
}

.sort-by-rule {
    display: flex;
    margin-top: 30px;
    list-style: none;
}

.sort-rule {
    margin-left: 12px;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.sort-rule:hover path {
    fill: var(--basic-black);
}

.sort-rule:active path {
    fill: var(--basic-blue);
}

.sort-rule-selected path {
    fill: var(--basic-blue);
}

.results-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Hotel card */

.hotel-card {
    display: grid;
    grid-template-columns: min-content 1fr max-content;
    min-height: 150px;
    list-style: none;
    border-top: 1px solid var(--basic-border-grey);
}

.hotel-description {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
}

.hotel-img-link {
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
    width: 135px;
}

.hotel-card:last-child {
    border-bottom: 1px solid var(--basic-border-grey);
}

.hotel-title-link {
    display: block;
}

.hotel-title {
    margin: 0;
    margin-top: 23px;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-black);
}

.hotel-characteristics {
    display: flex;
    justify-content: space-between;
    width: 180px;
    margin-top: 7px;
    color: var(--basic-grey);
}

.hotel-marks {
    grid-column: 3/4;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 35px;
}

.hotel-stars {
    display: flex;
    justify-content: flex-end;
    width: 110px;
}

.hotel-star {
    margin: 0 3px;
    width: 18px;
    height: 17px;
    background-image: url("../img/star.svg");
}

.hotel-star-disabled {
    display: none;
}

.hotel-rating {
    padding-left: 12px;
    padding-right: 15px;
    margin: 0;
    color: var(--basic-grey);
    background-color: var(--basic-bg-grey);
}

.hotel-card-nav {
    display: flex;
    padding: 0;
    list-style: none;
}

.card-nav-item{
    margin-right: 5px;
}

.detailes-button {
    display: block;
    padding: 3px 17px;
    background-color: var(--basic-blue);
}

.detailes-button:hover {
    background-color: var(--special-blue-hover);
}

.detailes-button:active {
    color: var(--special-white);
    background-color: var(--special-blue-active);
}

.booking-button {
    display: block;
    padding: 3px 17px;
    background-color: var(--basic-brown);
}

.booking-button:hover {
    background-color: var(--special-brown-hover);
}

.booking-button:active {
    color: var(--special-white);
    background-color: var(--special-brown-active);
}

/* Popup */

.popup-positioner {
    position: relative;
    margin: 0 auto;
    width: 568px;

}

.popup {
    position: absolute;
    display: none;
    width: 568px;
    box-sizing: border-box;
    background-color: var(--basic-white);
    box-shadow: 0px 7px 15px var(--special-shadow);
}

.popup-show{
    display: block;
}

.date-input, 
.guest-quantity-input{
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
}

.hotel-search-form {
    display: flex;
    flex-direction: column;
    margin-top: 53px;
    margin-bottom: 57px;
    margin-left: auto;
    margin-right: auto;
    width: 458px;
    text-align: left;
}

.date-input-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 28px;
}

.date-input-title {
    align-self: center;
    min-width: 100px;
    line-height: 26px;
    font-weight: bold;
}

.arival-input-layout {
    display: flex;
    align-items: center;
    background-color: var(--basic-bg-grey);
}

.departure-input-layout {
    display: flex;
    align-items: center;
    background-color: var(--basic-bg-grey);
}

.date-input:hover {
    background-color: var(--special-medium-grey);
}

.date-input:focus {
    background-color: var(--basic-white);
}

.date-input {
    padding: 0;
    padding-left: 10px;
    box-sizing: border-box;
    width: 300px;
    height: 40px;
    border: none;
    background-color: inherit;
}

.arival-input-layout svg,
.departure-input-layout svg {
    padding-left: 10px;
    padding-right: 10px;
}

.calendar-selector {
    padding-left: 2px;
    padding-top: 5px;
    width: 42px;
    border: none;
    background-color: inherit;
    cursor: pointer;
}

.calendar-selector:hover path {
    fill: var(--basic-black)
}

.calendar-selector:active path {
    fill: var(--basic-blue)
}

.guests-quantity-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;
}

.adult-select-wrapper,
.kids-select-wrapper {
    display: flex;
    width: 228px;
}

.adult-select-wrapper {
    justify-content: space-between;
}

.kids-select-wrapper {
    justify-content: flex-end;
}

.guest-quantity-label {
    align-self: center;
    line-height: 26px;
    font-weight: bold;
}

.guests-input-layout {
    display: flex;
}

.kid-guest-input {
    margin-left: 26px;
}

.guest-counter-button {
    width: 38px;
    height: 38px;
    border: none;
    background-color: var(--basic-bg-grey);
    cursor: pointer;
}

.decrease-button {
    padding-bottom: 5px;
}

.increase-button:hover path {
    fill: var(--basic-black);
   
}

.decrease-button:hover rect {
    fill: var(--basic-black);
    
}

.increase-button:active path {
    fill: var(--basic-blue);
   
}

.decrease-button:active rect {
    fill: var(--basic-blue);
    
}

.guest-quantity-input {
    padding: 0;
    box-sizing: border-box;
    width: 38px;
    height: 38px;
    border: none;
    text-align: center;
    background-color: var(--basic-bg-grey);
}

.guest-quantity-input:hover {
    background-color: var(--special-medium-grey);
}

.guest-quantity-input:focus {
    background-color: var(--basic-white);
}

.popup-submit-button {
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: "PT Sans", sans-serif;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    background-color: var(--basic-blue);
}