/* Variables */
:root {
    --basic-black: #000000;
    --basic-white: #FFFFFF;
    --basic-grey: #333333;
    --basic-blue: #81B3D2;
    --basic-brown: #766357;
    --basic-bg-grey: #F2F2F2;
    --basic-block-bg-grey: #EEEEEE;
    --basic-border-grey: #E5E5E5;

    --special-extra-dark-grey: #666666;
    --special-dark-grey: #6A6A6A;
    --special-grey: #A9A9A9;
    --special-medium-grey: #EBEBEB;
    --special-light-grey: #BDBBBC;
    --special-blue-hover: #669EC0;
    --special-blue-active: #5496BD;
    --special-brown-hover: #604E43;
    --special-brown-active: #503E33;
    --special-bg-white: rgba(255, 255, 255, 0.9);
    --special-white: rgba(255, 255, 255, 0.3);
    --special-black: rgba(0, 0, 0, 0.3);
}

/* Global */
body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-bg-grey);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* Grid */

.page {
    min-width: 1280px;
    height: 100%;
}

.page-body {
    min-height: 100%;
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

/* Visually hidden */

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

/* Main header */
.main-header {
    position: relative;
    display: grid;
    background-color: var(--basic-white);
}

.logo {
    position: absolute;
    justify-self: center;
}

.main-nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 140px;
    padding: 15px 70px;

}

.left-menu {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.left-menu-item {
    flex-grow: 1;
}

.right-menu {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.right-menu-item {
    flex-grow: 1;
    text-align: right;
}

.main-nav li {
    list-style: none;
}

.main-nav-link {
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    color: var(--basic-black);
}

.main-nav-link:hover {
    color: var(--basic-blue);
}

.main-nav-link:active {
    color: var(--basic-black);
    opacity: 0.3;
}

.current,
.current:hover,
.current:active {
    color: var(--basic-brown);
    opacity: 1;
}

/* Index main */

.index-main {
    display: grid;
    grid-template-rows: min-content min-content min-content;
}

/* Greeting */

.greeting {
    min-height: 510px;
    background-color: var(--basic-white);
}

.greeting-title{
    min-height: 510px;
    background-image: url("../img/background-photo.jpg");
    background-repeat: no-repeat;
    background-position: top center;
}

.greeting-intro {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
}

.advantages-intro {
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: var(--basic-grey);
}

/* Advantages */

.advantages-list{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 3, 400px;
    grid-template-rows: 3, min-content;
    list-style: none;
}

.advantages-list-item {
    text-align: center;
    background-color: var(--basic-block-bg-grey);
}

.advantages-list-item:first-child {
    grid-column: 1/4;
    grid-row: 1/2;
}

.advantages-list-item:nth-child(2) {
    grid-column: 1/4;
    grid-row: 2/3;
}

.advantage-title {
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
}

.advantage-number,
.advantage-description {
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-grey);
}

.big-advantage {
    display: grid;
    background-color: var(--basic-blue);
}

.big-advantage:first-child {
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 2;
}

.first-item-description-wrap {
    grid-column: 1/2;
    grid-row: 1/2;
}

.first-advantage-img{
    grid-column: 2/4;
    grid-row: 1/2;
}

.big-advantage h3,
.big-advantage p {
    color: var(--basic-white);
}

.features-list-wrap {
    grid-column: 1/4;
    background-color: var(--basic-white);
}

.features-list {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    list-style: none;
}

.feature-title {
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
}

.features-list-item p {
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-grey);
}

.second-item-description-wrap {
    grid-column: 3/4;
    grid-row: 1/2;
}

.second-advantage-img {
    grid-column: 1/3;
    grid-row: 1/2;
}

/* Hotel search */

.hotel-search {
    text-align: center;
    background-color: var(--basic-white);
}

.hotel-search-title {
    font-weight: bold;
    font-size: 30px;
    line-height: 24px;
}

.hotel-search-intro {
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-grey);
}

.button { 
    font-weight: bold;
    text-transform: uppercase;
    color: var(--basic-white);
    border: none;
    cursor: pointer;
}

.hotel-search-button {
    font-size: 21px;
    line-height: 26px;
    background-color: var(--basic-brown);
}

.hotel-search-button:hover {
    background-color: var(--special-brown-hover);
}

.hotel-search-button:active {
    color: var(--special-white);
    background-color: var(--special-brown-active);
}

/* Footer */

.main-footer {
    align-content: center;
    background-color: var(--special-bg-white);
}

.footer-layout-wrap{
    width: 1054px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 327px 400px 327px;
}

.contacts {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
}

.social-list{
    display: flex;
    justify-content: space-around;
    width: 160px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.social-list-item {
    margin-right: 5px;
}

.social-link{
    background-color: var(--basic-blue);
    color: var(--basic-white);
}

.social-link:hover {
    background-color: var(--special-blue-hover);
}

.social-link:active {
    background-color: var(--special-blue-active);
    color: var(--special-white);
}

.copyright-wrap {
    text-align: center;
}

.copyright {
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
}

.copyright-link {
    color: var(--basic-black);
}

.copyright-link:hover {
    color: var(--basic-blue);
}

.copyright-link:active {
    color: var(--special-light-grey);
}

/* Hotels page */

.hotels-main {
    display: grid;
    grid-template-rows: min-content 1fr;
}

/* Hotel search results */

.hotels-features {
    grid-row: 1/2;
    background-color: var(--basic-white);
}

.hotels-result {
    grid-row: 2/3;
    background-color: var(--basic-white);
}

.hotels-sorting{
    display: grid;
    grid-template-columns: 160px 1fr;
}

.results-quantity {
    grid-column: 1/2;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
}

.sorting-parameters-wrap {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    align-items: center;
}

.sorting-parameters {
    display: block;
    font-size: 12px;
    line-height: 18px;
}

.sort-by-parameter {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.sort-parameter {
    padding: 0;
    margin-right: 35px;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--special-black);
    background-color: var(--basic-white);
    border: none;
    border-bottom: 1px dashed var(--basic-blue);
}

.sort-parameter:hover {
    color: var(--basic-blue);
}

.sort-parameter:active {
    color: var(--basic-black);
    border: none;
}

.current-sort-parameter {
    color: var(--basic-blue);
    border: none;
}

.sort-by-value {
    display: flex;
    list-style: none;
}

.results-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Hotel card */

/* Тут сделай 3 колонки грида!!! А содержание на ФЛЕКСах!!! */

.hotel-card {
    display: grid;
    grid-template-columns: min-content 1fr max-content;
    list-style: none;
    border-top: 1px solid var(--basic-border-grey);
}

.hotel-title-link {
    
}

.hotel-img-link {
   
    width: 230px;
}

.hotel-card:last-child {
    border-bottom: 1px solid var(--basic-border-grey);
}

.hotel-title {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-black);
}

.hotel-characteristics {
    
    color: var(--basic-grey);
}

.hotel-stars {
    
}

.hotel-rating {
    
    color: var(--basic-grey);
    background-color: var(--basic-bg-grey);
}

.hotel-card-nav {
    
    list-style: none;
}

.detailes-button {
    background-color: var(--basic-blue);
}

.detailes-button:hover {
    background-color: var(--special-blue-hover);
}

.detailes-button:active {
    color: var(--special-white);
    background-color: var(--special-blue-active);
}

.booking-button {
    background-color: var(--basic-brown);
}

.booking-button:hover {
    background-color: var(--special-brown-hover);
}

.booking-button:active {
    color: var(--special-white);
    background-color: var(--special-brown-active);
}